.root{
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #141b2d;
}

.content{
    width: 100% !important; 

}
.rootContainer {
  width: 100% !important;
}