.root {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    height: 100vh;
    background-color: #141b2d;

    & svg {
        width: 50%; 
        max-width: 450px; 
        min-width: 200px; 

        @media (max-width: 1200px) {
            width: 60%; 
        }

        @media (max-width: 992px) { 
            width: 70%; 
        }

        @media (max-width: 768px) { 
            width: 80%; 
        }

        @media (max-width: 576px) { 
            width: 90%; 
        }
    }

    h1, h2 {
        text-align: center; 
        width: 100%; 
        margin: 10px 0; 
        color: white;
    }
}